

 body{
    background-color:rgb(214, 235, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(78, 75, 75);
    text-align: left;

 }

 .div1{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size:18px;

 }

 .div2{
   font-size: 35px;
   color: rgb(48, 48, 129);
 }
  
 .div3{
   font-weight:bold;
   font-size:30px;
 }

h1{
   text-align: center;
   font-weight: bold;
   font-size: 90px;
}

h2{
   text-align: left;
   font-weight: bold;
}